html {
  display: flex;
  height: 100%;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  font: icon;
}

h1 {
  display: flex;
}

button {
  margin: 0 0 0 auto;
}

#mainDiv {
  display: flex;
  flex: 1;
  gap: 1ex;
}

textarea {
  flex: 1;
}
